<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MeetingMapper">
	<select id="findAll" resultType="com.example.demo.domain.Meeting">select * from meeting</select>
	
	<select resultType="com.example.demo.domain.Meeting" id="selectOne">select * from meeting where id= #{id}</select>
	
	<insert keyProperty="id" id="insert">insert into meeting(roomid,id,day,name,people,phone) values(#{roomid}, #{id}, #{day},#{name},#{people},#{phone})</insert>
	
	<update id="update">update meeting set id=#{roomid}, id=#{id}, day=#{day}, name=#{name}, people=#{people}, phone=#{phone}    where id= #{id}</update>
	
	<delete id="delete">delete from meeting where id = #{id}</delete>
</mapper>