<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="Layout/User/homeLayout">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>ユーザーページ</title>
</head>
<body>
    <div layout:fragment="contents">
	<div class="container">

	<main>
		<h1>ユーザーページ</h1>
	</main>
	</div>
	</div>
</body>
</html>